.container {
  margin-bottom: 20px;

  > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;

    > li {
      max-width: 900px;

      > h4 {
        margin-bottom: 5px;
      }

      > p {
        text-align: justify;
        text-indent: 15px;
      }
    }
  }
}
