.container {
  align-items: center;
  display: flex;
  flex-direction: column;

  > h1 {
    margin-bottom: 25px;
  }

  > ol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 18px;
    max-height: 400px;
    margin-right: 60px;

    > li {
      margin-bottom: 15px;
      margin-right: 50px;
      max-width: 250px;

      > a {
        color: #2c93cf;
        text-decoration: none;

        &:hover,
        &:focus {
          color: #85b8cb;
        }
      }
    }
  }
}
