@import '../utils/vars';

.container {
  display: flex;
  flex-direction: column;

  > h1 {
    margin-bottom: 25px;
  }

  > ol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 18px;
    height: 410px;
    list-style: decimal inside;
    max-width: max-content;

    > li {
      margin-bottom: 15px;
      margin-right: 50px;
      max-width: 270px;

      > a {
        color: c('color');
        text-decoration: none;

        &:hover,
        &:focus {
          color: c('hover');
        }
      }
    }
  }
}
