@import '../utils/vars';

.container {
  min-width: 900px;

  > h1 {
    margin: 20px 0;
    text-align: center;
  }

  > ol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 18px;
    list-style: decimal inside;
    margin: 30px auto;
    max-height: 400px;
    width: 700px;

    > li {
      margin: 7px 0;
      max-width: 310px;

      > a {
        color: c('color');
        text-decoration: none;

        &:hover,
        &:focus {
          color: c('hover');
        }
      }
    }
  }
}
