@import '../utils/vars';

nav {
  border-bottom: 3px inset;

  > form {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto 5px auto;

    > input {
      background-color: c('activeHeader');
      border-radius: 5px;
      border: none;
      color: c('background');
      display: flex;
      padding: 3px 5px;
      width: 200px;
    }

    > button {
      background-color: c('activeHeader');
      border-radius: 5px;
      border: c('background');
      color: c('color');
      cursor: pointer;
      margin-left: 5px;
      padding: 3px;
    }
  }
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  list-style: none;
  padding: 25px 0 20px 0;

  > li {
    > a {
      background-color: c('background');
      border-radius: 8px;
      border: none;
      color: c('color');
      cursor: pointer;
      font-size: 24px;
      font-weight: 700;
      padding: 2px;
      text-decoration: none;

      &:hover {
        color: c('hover');
      }
    }

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}
