@import '../utils/vars';

nav {
  border-bottom: 1px solid c('color');
}

.list {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 25px 20px 20px 80px;

  > li {
    > a {
      background-color: c('background');
      border-radius: 8px;
      border: none;
      color: c('color');
      cursor: pointer;
      font-size: 24px;
      font-weight: 700;
      padding: 2px;
      text-decoration: none;

      &:hover {
        color: c('hover');
      }
    }

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}
